body {
    font-family: Arial, sans-serif;
    color: #ebd43f;
    margin: 20px;
    padding: 0;
    background-color: #14171a;
    text-align: center;
}

header {
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.input-container {
    margin-bottom: 20px;
}

input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#image-container img {
    max-width: 80%;
    max-height: 720px;
    width: auto;
    height: auto;
}

a:link, a:visited, a:hover, a:active {
    color: #8be942;
}